In [0]:
%sql
-- ============================================================
-- CAMADA: GOLD (BI)
-- TABELA: dim_datas
--
-- OBJETIVO:
-- Dimensão de datas para análises temporais no BI.
--
-- FONTE:
-- workspace.olist_silver.pedidos_silver
--
-- DESTINO:
-- workspace.olist_gold.dim_datas
-- ============================================================
CREATE SCHEMA IF NOT EXISTS workspace.olist_gold;

CREATE OR REPLACE VIEW workspace.olist_gold.dim_datas AS

WITH datas AS (
    SELECT DISTINCT
        CAST(order_purchase_timestamp AS DATE) AS date
    FROM workspace.olist_silver.pedidos_silver
    WHERE order_purchase_timestamp IS NOT NULL
)

SELECT

    date,
    YEAR(date) AS year,
    MONTH(date) AS month,
    DATE_FORMAT(date, 'MMMM') AS month_name,
    QUARTER(date) AS quarter,
    WEEKOFYEAR(date) AS week_of_year,
    DAY(date) AS day,
    DATE_FORMAT(date, 'MM-yyy') AS month_year

FROM datas;