In [0]:
-- ============================================================
-- CAMADA: BRONZE
-- ENTIDADE: Pagamentos
--
-- OBJETIVO:
-- Criar a view pagamentos a partir da camada RAW,
-- aplicando apenas padronizações técnicas (sem regra de negócio).
--
-- FONTE:
-- workspace.default.itens_pedido
--
-- DESTINO:
-- workspace.olist_bronze.pagamentos_bronze
-- ============================================================

CREATE SCHEMA IF NOT EXISTS workspace.olist_bronze;

CREATE OR REPLACE VIEW workspace.olist_bronze.pagamentos_bronze AS
SELECT
      CASE 
          WHEN order_id RLIKE '^[a-zA-Z0-9_-]+$'
          THEN order_id
          ELSE NULL
      END AS order_id,

      CAST(payment_sequential AS INT)   AS payment_sequential,
      CAST(payment_type AS STRING)      AS payment_type,
      CAST(payment_installments AS INT) AS payment_installments,
      CAST(payment_value AS DOUBLE)     AS payment_value

FROM workspace.default.pagamentos;